/* #region GENERAL */

:root {

    /* do not use pixels for font-size*/
    font-size: 62.5%;

    /* palette */
    --primary-chiari: #fafafa;
    --secondary-chiari: #eee;
    --tertiary-chiari: #ddd;

    --primary-scure: #252525;
    --secondary-scure: #151515;
    --tertiary-scure: #050505;

    color: var(--primary-chiari);
}

body {
    background-color: var(--secondary-scure);
}

h1 {
    font-weight: bold;
    font-size: 5em;
}

h3 {
    font-size: 3em;
}

button {
    border: 1px solid var(--primary-chiari);
    background-color: var(--secondary-scure);
    color: var(--primary-chiari);
    font-size: 3em;
    transition: .3s;
}

button:hover {
    background-color: var(--primary-chiari);
    color: var(--tertiary-scure);
}

button::after, button::before {
    transition: .2s;
    content: "";
    display: block;
    height: 0px;
    width: 0%;
    background-color: var(--primary-scure);
    margin: 0 auto;
}

button:hover::after, button:hover::before {
    height: 5px;
    width: 100%;
}

/* #endregion GENERAL */

/* #region HEADER */

header {
    background-color: var(--primary-scure);
    height: 100px;
    text-align: center;
}

/* #endregion HEADER */

/* #region MAIN */

.container {
    border-top: 1px solid var(--tertiary-chiari);
    min-height: 50px;
    background-color: var(--secondary-scure);
}

/* #region SECTION 1 */

#buttons {
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: sticky;
    top: 0;
}

/* #endregion SECTION 1 */

/* #region SECTION 2 */

#templates {
    display: flex;
}

.template-side {
    width: 50%;
    min-height: 200px;
    border: 1px solid var(--secondary-chiari);
}

.template {
    background-color: var(--primary-scure);
    border-bottom: 1px solid var(--primary-chiari);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 5% 0;
}

.template input {
    margin-bottom: 30px;
    color: var(--primary-chiari);
    background-color: var(--tertiary-scure);
}

.template div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.template h3 {
    margin-bottom: 30px;
}

.template input {
    text-align: center;
}

.template p {
    font-size: 2em;
}

/* #endregion SECTION 2 */

/* #region SECTION 3.5 */

#neutral-inputs {
    text-align: center;
    padding: 2%;
}

#neutral-inputs p {
    font-size: 3em;
}

#neutral-inputs input {
    border: 1px solid var(--secondary-chiari);
    text-align: center;
    font-size: 4em;
    background-color: var(--primary-scure);
    color: var(--primary-chiari);
}

/* #endregion SECTION 3.5 */

/* #region SECTION 3 */

#result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#results-divide {
    display: flex;
    width: 100%;
}

#results-divide div {
    width: 50%;
    background-color: var(--secondary-scure);
    border: 1px solid var(--primary-chiari);
}

#results-divide div p {
    font-size: 2em;
}

/* #endregion SECTION 3 */

/* #endregion MAIN */

/* #region FOOTER */


/* #endregion FOOTER */